body {
  
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dbf9ff; /* light gray background */
    color: #05537c; /* text color (black) */
    font-size: 18px;
  }
  
  header {
    background-color: #26c0cb;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 2rem 0;
  }

  a {
    color: inherit; /* Make links use the same color as surrounding text */
    text-decoration: none; /* Remove the underline */
  }
  

  nav {
    background-color: #0077b6;
    padding: 1rem;
    text-align: center;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  

  h2 {
    text-align: center;
  }
  

  #education ul {
    list-style: none; /* Remove normal bullets */
    padding-left: 0;  /* Remove extra padding from ul */
  }
  
  #education li::before {
    content: "- "; /* Insert a dash before each list item */
  }  
  
  
  section {
    padding: 1.5rem;
  }

  .about-image {
    width: 500px; /* Width */
    height: 300px; /* Height — makes it a square */
    object-fit: cover; /* Zooms/crops to fill the box nicely */
    display: block;
    margin: 20px auto; /* Center it horizontally */
    opacity: 0; /* Start invisible */
    animation: fadeIn 2s forwards; /* Use the fadeIn animation */
  }
  
  /* Define the fadeIn animation */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }  
  
  .content {
    max-width: 800px; /* or whatever width you want */
    margin: 0 auto; /* centers it horizontally */
    padding: 20px; /* space inside the box */
  }

.poster-container {
  text-align: center;
  margin: 20px;
}

.poster-thumbnail {
  width: 300px; /* small thumbnail size */
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 8px;
  transition: 0.3s;
}

.poster-thumbnail:hover {
  border: 2px solid #555;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9); /* Dark background */
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

#caption {
  text-align: center;
  color: #ccc;
  padding: 10px;
}

.close {
  position: absolute;
  top: 30px;
  right: 50px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}




  footer {
    background-color: #009198;
    color: white;
    text-align: center;
    padding: 1rem;
  }  
